.title{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin: 20px auto 70px;
}

.title h1{
    font-family: 'Ubuntu';
    font-size: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.title h3{
    font-size: 25px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.about{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 23px;
}

.about h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}